*{
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(62, 62, 62);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    font-family: "Lora", serif;
    color: rgb(0, 216, 141);
    font-size: 5rem ;
    font-weight: 600;
    font-style: italic;
}

button{
    color:  rgb(255, 255, 255);
    background-color: rgb(198, 0, 0);
    width: 60px;
    height: 30px;
    border-radius: 15%;
    border: 0px ;
}
button:hover{
    background-color: rgb(224, 0, 0);
}
.One, .tow, .d{
    display: none;
}
    
.dice-cont{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice1 , .dice2{
    padding: 10px;
    height: 50vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer{
    font-family: "Lora", serif;
    display: flex; 
    width: 100%; 
    color: white; 
    justify-content: center;
}
@media screen and ( max-width: 760px ){
    .dice1, .dice2{
        width: 50%;
    }
}


.container1{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.container1 .col{
    display: inline-block;
    width: 30%;
    font-family: "Lora", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.4rem;
    color: rgb(0, 216, 141);
}